
body{
  /*background-image: url('./images2/photo-1421930535025-d2af27c14065.jpeg');
  height: 700px;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;*/
}
.modal{
  display: block;
}
#roverpic1{
  margin-top: 3%;
}
#cameraName1{
  color: white;
    margin-top: 5%;
    font-size: 40px;
}
#roverRow{
  box-shadow: 5px 3px 13px #0c0a0a;
  background: #ffffff69;
    margin-top: 5%;
    display: flex;
    height: 500px;
    width: 90%;
    margin-left: 3%;
}
#nasa_img_id{
  margin-top: 10px;
}
#nasa_img_id2{
  margin-top: 10px;
}
#nasa_img_id3{
  margin-top: 10px;
}
.container.marsDisplay{
  color: white;
  background: #ffffff69;
  color: white;
    display: block;
    margin-bottom: 20px;
    margin-top: 80px;
    height: 320px;
}
.container.marsDisplay2{
  color: white;
  background: #ffffff5e;
  color: white;
    display: block;
    margin-bottom: 20px;
   
    height: 320px;
}
.container.marsDisplay3{
  color: white;
  background: #ffffff5e;
  color: white;
    display: block;
    margin-bottom: 20px;
   
    height: 320px;
}
#form-mars{
  height:80px;
}

a:hover{
  text-shadow: 5px 5px 9px #fcf8f8;

  text-decoration: none;
  color: black;
  cursor: pointer;
}
#calendar{
  width: 1300px;
    margin-top: 10%;
    background: #ffffff7d;
    margin-left: 3%;
}
#newcalBody{
  height: 900px;
}
#nasaDescription{
  font-size: 25px;
}
.asteroidsHtml{
  height: 1300px;
}
.block2{
  margin-top:12%;
}
#secondP{
  font-size: 25px;
}

#searchMars{
 width: 67px;
}
#upEvents{
  background: #ffffff8a;
    margin-top: 21%;
    height: 400px;
}
#severeStorms{
  background-image: url('./images2/fire.jpg');
  margin-top: 15%;
  height: 90px;
  background-position: center;
  text-align: left;
  padding-top: 25px;
  padding-left: 10px;
  border: 1px black solid;
    margin-bottom: 10px;
}
#vulkanos{
  background-image: url('./images2/active-ash-color-235807.jpg');
  height: 90px;
  background-position: center;
  text-align: left;
  padding-top: 25px;
  padding-left: 10px;
  border: 1px black solid;
    margin-bottom: 10px;
}
#snow{
  background-image: url('./images2/cold-snow-snow-capped-45204.jpg');
  height: 90px;
  background-position: center;
  text-align: left;
  padding-top: 25px;
  padding-left: 10px;
  border: 1px black solid;
    margin-bottom: 10px;
}
#earthquake{
  background-image: url('./images2/abandoned-architecture-buildings-2079223.jpg');
  height: 90px;
  background-position: center;
  text-align: left;
  padding-top: 25px;
  padding-left: 10px;
  border: 1px black solid;
    margin-bottom: 10px;
}
#wildFire{
  background-image: url('./images2/fog.jpg');
  height: 90px;
  background-position: center;
  text-align: left;
  padding-top: 25px;
  padding-left: 10px;
  border: 1px black solid;
    margin-bottom: 10px;
}
#eodesk{
  width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}
#wikiTitle{
  margin-top: 3%;
}
.input-group{
  margin-top: 5%;
}
.form-control{
  background: #ffffff9c;
}
#searchImg{
  width: 50px;
  -webkit-animation:none;
  color: black;
    border: 1px black solid;
    box-shadow: 2px 2px #171515;

}

#searchImg:hover{
  color:black;
  border: 1px black solid;
  background: white;
  box-shadow: none;
  cursor: pointer;
}

#searchwiki{
  border: 1px black solid;
  height: 40px;
  margin-top: 4px;
}
/*#home{
  
 background:url(http://pixelglimpse.designova.net/wp_redrice/images/hero.png);
  animation:animateBackground 120s infinite;
  -webkit-animation:animateBackground 120s infinite;
}*/
#navImg{
  width: 80px;
    margin-right: 30px;
}
/*.bg1{
 
  height: 100%;
  background-image:-webkit-linear-gradient(left bottom, rgba(30, 31, 58, 0.8),rgba(12, 23, 97, 0.8));
}*/
article{
  color:#fff;
  font-family:Arial;
}

#introText{
  z-index: 1;
  font-size: 80px;
    width: 400px;
}
.navbar{
  position: fixed;
  height: 100px;
  top: -0%; 
    width: 100%;
    background: #fefdffad;
    z-index: 2;
    box-shadow: 6px 7px 20px 0px #080707;


}
.navbar-brand{
  font-size: 50px;
}
#nasaepic{
  width: 100%;
  background: #ffffff9c;
  color: black;
  border: 1px black solid;
  font-size: 60px;
  
  height: 100px;
  text-shadow: 3px 1px 0px #bfb6b6;
}
#epicroverImg{
  width: 90px;
  margin-left: 20px;
  margin-right: 40px;
}
#epicImg{
  width: 90px;
  margin-left: 20px;
  margin-right: 40px;
}
#asteroids{
  width: 100%;
    background: #ffffff9c;
    color: black;
    border: 1px black solid;
    font-size: 60px;
    text-align: right;
    height: 100px;
    text-shadow: 3px 1px 0px #bfb6b6;

}
#astImg{
  width: 90px;
  margin-left: 20px;
  margin-right: 40px;
}
#starmap{
  width: 100%;
    background: #ffffff9c;
    color: black;
    border: 1px black solid;
    font-size: 60px;
    text-align: right;
    height: 100px;
    text-shadow: 3px 1px 0px #bfb6b6;
}
#events{
  width: 100%;
    background: #ffffff9c;
    color: black;
    border: 1px black solid;
    font-size: 60px;
    text-align: left;
    height: 100px;
    text-shadow: 3px 1px 0px #bfb6b6;
}
#nasacollection{
  width: 100%;
    background: #ffffff9c;
    color: black;
    border: 1px black solid;
    font-size: 60px;
    text-align: right;
    height: 100px;
    text-shadow: 3px 1px 0px #bfb6b6;
}
#eventsImg{
  width: 90px;
}
#firstRow{
  margin-top: 10%;
}
#introText{
  z-index: 1;
}
#space{
  padding-right: 20px;
}
#boldspace{
  font-weight: bold;
  padding-right: 20px;
}
#bluespace{
  color: cyan;
  padding-right: 20px;
}
.container{
  margin: 0;
    
}

@media (min-width: 1200px){
 .container {
    max-width: 100%;

 }
}
:root {
  --palette1: #112BA4;
  --palette2: #0A549C;
  --palette3: #00928D;
  --palette4: #F18F00;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block1 {
  margin-left: 20px;
}
.middle {
  color: aqua;
}
.block2 {
  margin-right: 20px;
  color: white;
}
.asteroidText{
  font-size: 20px;
}
/*STARS ANIMATION*/


@import url(https://fonts.googleapis.com/css?family=Roboto:500);



body {
  font-family: 'Roboto', sans-serif;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

a {
  text-decoration: none;
  color: inherit;
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000 url(https://images.unsplash.com/photo-1421930535025-d2af27c14065?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0504e939e787f3307ebd9fb74c366d84) no-repeat center center;
  background-size: cover;
  filter: brightness(45%) blur(10px);
  transition: filter 1.5s;
}

.hero-btn {
  border: 2px solid white;
  padding: 25px;
  letter-spacing: 0.75em;
  color: white;
  z-index: 999;
  margin: 25px;
  line-height: 1.5;
  transition: all 2s, padding 700ms;
}

.hero-btn:hover + div {
  filter: brightness(100%);
}

.hero-btn:hover {
  background-color: rgba(255, 255, 255, 0.04);
  border-color: rgba(255, 255, 255, 0.3);
  padding: 15em
}

.str {
  transition: 1s 1s
}

.hero-btn:hover .str {
  color: red
}
#profile-hook {
  color: #fff;
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: .5em 1em;
  margin: 1%;
  opacity: 0.5;
  transition: opacity 500ms;
  font-size: 16px;
  text-decoration: none;
}

#profile-hook span {
  vertical-align: middle
}

#profile-hook img {
  width: 35px;
  border-radius: 100%;
  border: 1px solid white;
  vertical-align: middle;
  margin-left: 3px
}

#profile-hook:hover {
  opacity: 1;
}
.imgoftheday{
  color: white;
  width: 100%;
    height: 400px;
}
.imgcol{
  float: left;
  margin-top: -5%;
}
.colexpl{
  margin: 0px;
 
}
#apod_explaination{
  
    font-size: 25px;
    margin-top: 1%;
    text-shadow: 4px 2px 0px #545151;
  
}
#apod_title{
  
  font-size: 40px;
  margin-bottom: 0px;
  text-shadow: 4px 2px 0px #545151;

}
#imgofthedayTitle{
  text-align: center;
    font-size: 60px;
    margin-left: 10px;
    text-shadow: 4px 2px 0px #545151;
  
    
}
#accordion{
  position: relative;
  box-shadow: inset -11px -15px 15px 20px #171313;

  
}
.panel-title{
  background: #ffffff85;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
}
.background{
  background: #fdfdfd8c;
  margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}
#apod_img_id{
  box-shadow: -2px 0px 14px 3px #888888;
  margin-top: 21%;
  box-shadow: 6px 4px 19px 3px #000000;


}
.imgofthedaybackground {
  background: #fdfdfd8c;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  height: 550px;
  box-shadow: 9px 9px 18px 2px #140f0f;

}
.panel-title{
  background: #ffffff85;
  text-align: center;
  cursor: pointer;
}
.panel-body{
  background-color: #ffffff85;
  text-align: center;
}
.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/*mars buttons*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:700);
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			transition: all .1s;
		}
		
		.group{
			text-align: center;
			margin: 20px auto;
		}
		.group button{
			margin-top: 10px;
    }
    
		button{
/*			box-sizing: border-box;*/
			background: NONE;
			border: none;
			outline: none;
			border-radius: 3px;
			padding: 15px 10%;
			color:white;
			text-transform: uppercase;
			font-weight: 700;
			text-shadow: 0 1px 3px rgba(0, 0, 0, 0.41);
			box-shadow: 0 3px 0 0 #383838;
			border:3px solid transparent;
			
		
			animation: pulse 1s linear infinite alternate;
			-webkit-animation: pulse 1s linear infinite alternate;
    }
    .fc-today-button{
      -webkit-animation:none;
    }
    .fc-prev-button{
      -webkit-animation:none;
    }
    .fc-addEventButton-button{
      -webkit-animation:none;
    }
    .fc-next-button{
      -webkit-animation:none;
    }
		.active,
		button:active{
			background-image: linear-gradient(rgba(0,0,0,.1) 13%, transparent 13%,transparent);
			box-shadow: 0 1px 0 0 #383838;
			color: rgba(0, 0, 0,.45);
			text-shadow: none;
			
			
			-webkit-animation-play-state: paused; 
    	animation-play-state: paused;
		}
		button:focus,
		button:hover{
			-webkit-animation-play-state: paused; 
    	animation-play-state: paused;
		}
		
		
		.blam:focus,
		.blam:hover{
			
		}
		.blam{
		
		}
		
		.syke:focus,
		.syke:hover{
			
		}
		.syke{
		
		}
		
		.later:focus,
		.later:hover{
			
		}
		.later{
			
		}
		.marsbtn{
      background: #03a9f480;
      

    }
    .marspics{
      background: #03a9f480;
    }
    .marspics:hover{
      background: #3764c780;
      box-shadow: 0px 1px 20px 10px #1b11a5;
    }
    .marsbtn:hover{
      background: #3764c780;
      box-shadow: 0px 1px 20px 10px #1b11a5;
    
    }
		@-webkit-keyframes pulse {
			100% {
				transform: translateY(6.9px); 
			} 
		}

		@keyframes pulse {
			100% {
				transform: translateY(6.9px); 
			} 
    }
    #marsDirc{
      color: white;
    text-align: center;
    font-size: 60px;
    }
    /*BACKGROUND*/
    body{
 
      background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #home{
  
      background:url(http://pixelglimpse.designova.net/wp_redrice/images/hero.png);
       animation:animateBackground 120s infinite;
       -webkit-animation:animateBackground 120s infinite;
     }
     
     .bg1{
      
       display:-webkit-flex;
       
       width: 100vw;
       height: 100vh;
       background-image:-webkit-linear-gradient(left bottom, rgba(30, 31, 58, 0.8),rgba(12, 23, 97, 0.8));
     }

     /*///////////////////////////////////////////////////////////////*/
     html,
     body {
       height: 100%;
       min-width: 100%;
       padding: 0;
       margin: 0;
       
     }
     
     #canvas {
      position: fixed;
       width: 100%;
       height: 100%;
       background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #080807, #80762d);    
       /*background-color: #6B202A;*/
     }




     .background{
      position: fixed;
      width:100%;
      height:100%;
      background:url(https://lh4.googleusercontent.com/proxy/gdKMsKqzMFQ1xEVJf9lNNfL7pw_HG3DaHZij1yJPHGPLQYzY_FXqVrSsC0Q2VK49HPML25NGCls545UIGYmTs6y11TAXtLcKAv_HmKA=w3840-h2160-p-k-no-nd-mv);
      background-position:center center;
      background-size:cover;
      animation: zoom 100s infinite alternate;
      animation-timing-function: linear;
    /* 	filter: blur(2px); */
    }
    
    #app{
      z-index: 10;
      width:250px;
      height:250px;
      margin: auto;
      /*box-shadow: 10px 10px 50px rgba(0,0,0,0.25);
      // filter: blur(10px);*/
    /* 	background:rgba(255,255,255,0.5); */
      border-radius: 8px;
      position:fixed;
    }
    
    @keyframes zoom {
      from {
      transform:scale(1.01)
      }
    
      to {
      transform:scale(1.50)
      }
    }
    .modal button{
      -webkit-animation: none;
    }
    .fc-savebutton-button{
      -webkit-animation: none;
    }
    .modal input{
      height: 40px;
      border: 1px black solid;
    }
    .modal p{
      margin-top: 0;
    /* margin-bottom: 1rem; */
    height: 1px;
    }
    .modal-content{
      width: 700px;
      height: 600px;
      /* margin: 0px; */
      float: left;
      margin-left: 30%;
      margin-top: 10%;
      border: 1px black solid;
    }
    #savebtnmodal{
      background: #8080808f;
    }
    .btn-secondary{
      background: #8080808f;
    }
    .modal-body{
      display: grid;
    }
    /*MEDIA QUERIES*/
    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #events{
    font-size: 30px;
    height: 50px;
  }
  #nasacollection{
    font-size: 30px;
    height: 50px;
  }
  #epicroverImg{
    width: 50px;
    margin: 0px;
  }
  #nasaepic{
    font-size: 23px;
    height: 50px;
  }
  #starmap{
    font-size: 30px;
    height: 50px;
  }
  #eventsImg{
width: 40px
  }
  #epicImg{
    width: 40px;
    margin: 0px;
  }
  #wikiTitle{
    font-size: 30px;
  }
  #wikiText{
    font-size: 15px;
  }
  #navbarSupportedContent{
    background: white;
    border: 1px black solid;
  }
  .navbar{
    width: 100%;
    height: 70px;
  }
  .navbar-brand{
    font-size: 25px;
    /* margin-right: 23%; */
    margin-bottom: 4%;
  }
  #apod_img_id{
    width: 280px;
    height: 200px;
    margin-top: -5%;
    margin-bottom: 7%;
  }
  #navImg{
    width: 60px;
    margin-top: -2%;
    margin-right: 0px;
  }
  .imgoftheday{

  }
  .imgofthedaybackground{

  }
  #imgofthedayTitle{
    font-size: 30px;
  }
  #apod_title{
    font-size: 25px;
  }
  #apod_explaination{
    font-size: 15px;
  }
} 
.responsive-img{
  box-shadow: 5px 3px 13px #0c0a0a;
}
#roverpic1{
  box-shadow: 5px 3px 13px #0c0a0a;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .marspics{
    width: 210px;
    height: 70px;
    margin-top: 10px;
  }
  .col-lg-3{
    -webkit-box-flex: none;
    -ms-flex: none;
    flex: none;
    max-width: 16.666667%;
    /* padding: 0px; */
    width: 270px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
@media only screen and (min-width: 1400px){
  .col-lg-3{
    -webkit-box-flex: none;
    -ms-flex: none;
    flex: none;
    max-width: 16.666667%;
    /* padding: 0px; */
    width: 270px;
  }
  .marspics{
    width: 210px;
    height: 70px;
    margin-top: 10px;
  }
  .responsive-img{
      
  }
  }
  @media only screen and (min-width: 1600px){
    .col-lg-3{
      -webkit-box-flex: none;
      -ms-flex: none;
      flex: none;
      max-width: 16.666667%;
      /* padding: 0px; */
      width: 270px;
    }
    .responsive-img{

    }
  }
  .navbar{
    height: 112px
  }
  .responsive-img{
    margin-bottom: 3%;
  }
  .marspics{
    width: 240px;
    height: 70px;
  }

